@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.md-app {
  border: 1px;
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.align-left-c {
  display: inline-block;
  float: left;
  width: 30%;
}

.align-right-c {
  display: inline-block;
  float: right;
  width: 30%;
}

.align-center-c {
  display: inline-block;
  width: 30%;
}

.card p {
  margin-bottom: 0 !important;
}

.texto-verde {
  color: #76FF03;
}

.texto-amarillo {
  color: #EEFF41;
}

.texto-morado {
  color: #E040FB;
}

